class CreateRailsContactLabels < ActiveRecord::Migration[7.1]
  def change
    create_table :rails_contact_labels do |t|
      t.string :name, null: false

      t.timestamps
    end

    add_index :rails_contact_labels, :name, unique: true
  end
end
